<section class="facts-area section-gap" id="facts-area" style="padding:94px 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 single-fact">
                <h1 class="counter"><%= dadaCoin %></h1>
                <p>我的達達幣</p>
            </div>
        </div>
    </div>
</section>

<section class="home-about-area pt-120">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 home-about-left">
                <img class="img-fluid" src="/img/aragaki2.jpg" alt="">
            </div>
            <div class="col-lg-5 col-md-6 home-about-right">
                <h6>About DadaCoin</h6>
                <h1 class="text-uppercase">達達幣是什麼？</h1>
                <p>
                    每一次的外送都有可能會需要酌收外送費，也可能沒有，看平台是否有提供優惠而定。如果團訂的人數多，則平分的外送費將降低，反之，如果團訂的人數少，則平分的外送費將會提高。溢繳的外送費將會以達達幣返還，平台若是有折扣優惠等，也會以達達幣返還，<span style="font-weight: bold">100達達幣=1元</span>，可於下次訂餐時折抵，折抵無上限！
                </p>
                <a href="/menu/getMenu" class="primary-btn text-uppercase">去訂餐</a>
            </div>
        </div>
    </div>
</section>

<section class="home-about-area pt-120">
</section>