<section class="banner-area relative blog-home-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
                <h1 class="text-white">
                    DadaEats
                </h1>
                <p class="text-white">
                    There is a moment in the life of any aspiring astronomer that it is time to buy that first
                </p>
                <a href="blog-single.html" class="primary-btn">View More</a>
            </div>
        </div>
    </div>
</section>

<section class="pt-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label>團號：</label>
                    <input type="text" class="form-control" id="orderId">
                </div>
                <div>
                    <label>連結：</label>
                    <input type="text" class="form-control" id="foodpanda-url">
                </div>
                <br>
                <a class="genric-btn info radius" id="submit" onclick="submit()">確定</a>
            </div>
        </div>

    </div>
</section>

<script>
    function submit() {
        var orderId = $('#orderId').val();
        var foodpandaUrl = $('#foodpanda-url').val();

        $.ajax({
            url: '/dashboard/createMenus',
            type: 'post',
            dataType: "text",
            data: {
                orderId,
                foodpandaUrl
            },
            error: function (err) {
                if (err) throw err
                console.log('bad job');

            },
            success: function (response) {
                console.log('good job')
                console.log(response);
            }
        });
        
    }
</script>