<section class="pt-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="background:#444; color:#fff; padding:8px; margin-bottom: .5rem">
                    <span>
                        開團
                    </span>
                </div>
                <div>
                    <label>團號：</label>
                    <input type="text" class="form-control" id="groupId">
                </div>
                <div>
                    <label>連結：</label>
                    <input type="text" class="form-control" id="foodpandaUrl">
                </div>
                <div>
                    <label>店名：</label>
                    <input type="text" class="form-control" id="shopName">
                </div>
                <div>
                    <label>運費：</label>
                    <input type="number" class="form-control" id="freight">
                </div>
                <div>
                    <label>大圖連結：</label>
                    <input type="text" class="form-control" id="img-src">
                </div>
                <div>
                    <label>data-vendor：</label>
                    <textarea class="form-control" id="data-vendor" rows="4" cols="50"></textarea>
                </div>
                <br>
                <a href="" class="genric-btn info radius" id="submit" onclick="submit()">確定</a>
            </div>
        </div>

    </div>
</section>

<section class="pt-120"></section>

<script>
    function submit() {
        var groupId = $('#groupId').val();
        var foodpandaUrl = $('#foodpandaUrl').val();
        var shopName = $('#shopName').val();
        var freight = $('#freight').val();
        var imgSrc = $('#img-src').val();
        var dataVendor = $('#data-vendor').val();

        $.ajax({
            url: '/dashboard/createMenus',
            type: 'post',
            dataType: "text",
            data: {
                groupId,
                foodpandaUrl,
                shopName,
                freight,
                imgSrc,
                dataVendor
            },
            error: function (err) {
                if (err) throw err
                console.log('bad job');

            },
            success: function (response) {
                console.log('good job')
                console.log(response);
                alert('success');
                location.reload();
            }
        });

    }
</script>