<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
  <title>DadaEats</title>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="colorlib">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  <script src="/js/easing.min.js"></script>
  <script src="/js/hoverIntent.js"></script>
  <script src="/js/superfish.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.tabs.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/simple-skillbar.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  <!--
			CSS
			============================================= -->
  <link rel="stylesheet" href="/css/linearicons.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <!-- <link rel="stylesheet" href="/css/jquery-ui.css"> -->
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/main.css">

  <style>
    .menu-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .red {
      background: tomato;
    }

    #payment img {
      padding: 15px;
    }

    .auth,
    .non-auth {
      display: none;
    }

    .swal2-success-circular-line-left,
    .swal2-success-fix,
    .swal2-success-circular-line-right {
      display: none;
    }
  </style>

</head>

<body>
  <header id="header">
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="/"><img src="/img/logo_DadaEats.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="auth dashboard"><a href="#" class="manageMenus">管理開團</a></li>
            <li class="auth dashboard"><a href="#" class="manageUsers">管理使用者</a></li>
            <li class="auth dashboard"><a href="#" class="manageOrders">管理訂單</a></li>
            <li class="auth dashboard"><a href="#" class="myChatbot">呼叫小垣</a></li>
            <li class="auth"><a href="#" class="nav-lookMenu">看菜單</a></li>
            <li class="auth menu-has-children"><a class="accountTitle">Hi</a>
              <ul>
                <li class="auth"><a href="#" class="nav-lookCart">購物車</a></li>
                <li class="auth"><a href="/users/dadaCoin">我的達達幣</a></li>
                <li class="auth"><a href="/users/logout">登出</a></li>
              </ul>
            </li>
            <li class="non-auth"><a href="/profile/getprofile">getProfile</a></li>
            <li class="non-auth"><a href="/users/login">Sign in</a></li>
            <li class="non-auth banner-left">
              <input type="button" onclick="javascript:location.href='/users/register'" class="primary-btn"
                style="line-height: inherit; color:white" value="Sign up"></input>
            </li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </div>
  </header><!-- #header -->
  <div class="" style="margin-top: 70px"><%- body %></div>

  <!-- start footer Area -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>About Me</h4>
            <p>
              We have tested a number of registry fix and clean utilities and present our top 3 list on our
              site for your convenience.
            </p>
            <p class="footer-text">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
              is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Newsletter</h4>
            <p>Stay updated with our latest trends</p>
            <div class="" id="mc_embed_signup">
              <form target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get">
                <div class="input-group">
                  <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required=""
                    type="email">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span class="lnr lnr-arrow-right"></span>
                    </button>
                  </div>
                  <div class="info"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
          <div class="single-footer-widget">
            <h4>Follow Me</h4>
            <p>Let us be social</p>
            <div class="footer-social d-flex align-items-center">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-behance"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer Area -->

  <script type="text/javascript">
    var name, account;

    // $(document).ready(function () {
    // line login
    // var url = new URL(window.location.href);
    // var params = url.searchParams;
    // var paramsObject = new Object();
    // for (let pair of params.entries()) {
    //   if (pair[0] == 'code') paramsObject.code = pair[1];
    //   if (pair[0] == 'state') paramsObject.state = pair[1];
    // }
    // if(paramsObject.code) {
    //   loginLine(paramsObject.code);
    // }else {
    //   auth();
    // }
    // auth();
    // })

    function loginLine(code) {
      var redirect_uri = "<%= process.env.redirect_url %>";
      $.ajax({
        url: '/users/loginLine',
        type: 'post',
        data: { code },
        error: function (err) {
          if (err) throw err
          alert('登入失敗1');
        },
        success: function (res) {
          if (res == 'error') alert('登入失敗2');
          const { name, picture } = res;

          $.ajax({
            url: '/users/login',
            type: 'post',
            data: {
              account: name,
              password: picture
            },
            error: function (err) {
              if (err) throw err
              alert('登入失敗3');
            },
            success: function (res) {
              if (res == 'error') alert('登入失敗4');
              // auth();
              document.location.href = "/";
            }
          })
        }
      })
    }

    function auth() {
      console.log('auth');

      $.ajax({
        url: '/users/auth',
        type: 'get',
        error: function (err) {
          if (err) throw err
        },
        success: function (res) {
          if (res.name || res.account) {
            name = res.name;
            account = res.account
            $('.auth').show();
            $('.non-auth').hide();
            $('.accountTitle').text('Hi, ' + res.name)
            $('.accountTitle').attr('name', res.name)
            $('.accountTitle').attr('account', res.account)
          } else {
            $('.auth').hide();
            $('.non-auth').show();
          }

          if (res.account == 'admin') {
            $('.dashboard').show();
            $('.manageMenus').attr('href', '/dashboard/getMenus')
            $('.manageUsers').attr('href', '/dashboard/getUsers')
            $('.manageOrders').attr('href', '/dashboard/getOrders')
            $('.myChatbot').attr('href', '/chatbot/getChatbot')
          } else if (res.account == '1908059') {
            $('.dashboard').show();
            $('.manageMenus').hide();
            $('.manageUsers').hide();
            $('.manageOrders').hide();
            $('.myChatbot').attr('href', '/chatbot/getChatbot')
          } else {
            $('.dashboard').hide();
          }

          if (!res.account) { // 未登入
            console.log('no login');

            liff.init({
              liffId: "<%= process.env.liffId %>"
            }).then(() => {
              // 是否登入line
              var isLoggedIn = liff.isLoggedIn();
              console.log("isLoggedIn: " + isLoggedIn);

              if (isLoggedIn) {
                liff.getProfile()
                  .then(profile => {
                    var userId = profile.userId;
                    var displayName = profile.displayName;
                    var pictureUrl = profile.pictureUrl;

                    $.ajax({
                      url: '/users/login',
                      type: 'post',
                      data: {
                        account: displayName,
                        password: pictureUrl
                      },
                      error: function (err) {
                        if (err) throw err
                      },
                      success: function (res) {
                        console.log('login');
                        // location.reload();
                      }
                    })

                  })
                  .catch((err) => {
                    console.log('error', err);
                  });
              }
            }).catch((err) => {
              // Error Callback
            })

          }

        }
      })

      $.ajax({
        url: '/groupId',
        type: 'get',
        error: function (err) {
          if (err) throw err
        },
        success: function (res) {
          $('.nav-lookMenu').attr('href', '/menu/getMenu?groupId=' + res.groupId)
          $('.nav-lookCart').attr('href', '/cart/getCartList?groupId=' + res.groupId)
        }
      })

    }

    $(document).on('click', '#mobile-nav-toggle', function (e) {
      $('.accountTitle').text('Hi, ' + name)
      $('.accountTitle').attr('name', name)
      $('.accountTitle').attr('account', account)
    })

    auth();
  </script>
</body>

</html>