<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
        <% include ./partials/messages %>
        <form action="/users/login" method="POST" class="banner-left">
          <div class="form-group">
            <label for="account">ID (工號)</label>
            <input type="text" id="account" name="account" class="form-control" placeholder="Enter ID (工號)" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
          </div>
          <button type="submit" class="btn primary-btn btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
        <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1654985474&redirect_uri=<%=redirect_url%>&state=123456789&scope=openid%20profile&nonce=helloWorld&prompt=consent&max_age=3600&ui_locales=zh-TW&bot_prompt=normal">
          <img id="login-line" src="/img/btn_login_base.png" alt="" style="width: fit-content">
        </a>
      </div>
    </div>
  </div>
</div>